alias s="sudo"
alias p="sudo pacman"
alias pa="pacaur"
alias n="nano -c"
alias sn="sudo nano -c"
alias ping8="ping 8.8.8.8"
alias jupy="(cd ~/adventofcode && exec nohup jupyter notebook > /dev/null 2>&1 &)"
alias df="df -h"
alias free="free -h"
alias sctl="sudo systemctl"
alias ws="wiki-search"
alias brag="clear && screenfetch | tee >(xclip -selection c)"
alias be="bundle exec"
